//
//  Secrets.xcconfig
//  LGTv2
//
//  Created by Joseph Scholtz on 12/10/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

WEATHER_API_KEY=af3ace4bce3c4ce5813160756251012
