//
//  Secrets.xcconfig
//  LGTv2
//
//  Created by Joseph Scholtz on 12/10/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

WEATHER_API_KEY=a30a1d5265d04306a3c30909241905
