<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR37oSuoBKJLSTgpmkyhefJWHPMIESg2k</string>
	<key>GCM_SENDER_ID</key>
	<string>717165133394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>joe.LGTv2</string>
	<key>PROJECT_ID</key>
	<string>lgtv2-e14cf</string>
	<key>STORAGE_BUCKET</key>
	<string>lgtv2-e14cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717165133394:ios:3e600bb50a5252b195298b</string>
</dict>
</plist>